.Thought{
    margin: 0;
    padding: 0;
    z-index: 100;
}

.Thoughts p, h1, h2, h3, h4, h5, h6{
    pointer-events: none;
    margin: 0;
    padding: 0;
}

.Thought p, h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
    font-family: Lato;
    font-weight: 100;
    color: #ffffff;

    pointer-events: none;
}

#thoughts-font {
    font-size: 6em;
}

#thoughts-font-1 {
    font-family: Abril Fatface;
    color: #f7222b;
}

#thoughts-font-2 {
    font-size: 2em;
    margin-left: 30px;
    margin-top: -13px;
}
